apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-litellm-svc
  labels:
    app: {{ include "litellm.labels.app" . }}
    component: litellm
    name: {{ .Release.Name }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "litellm.labels.app" . }}
    component: litellm
    name: {{ .Release.Name }}
  ports:
    - name: http
      port: 80
      targetPort: 4000
      protocol: TCP
