{{- if .Values.app.exposeNginxService }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-nginx-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "nginx.labels.app" . }}
    component: nginx
    name: {{ .Release.Name }}
spec:
  type: LoadBalancer
  # This setting preserves the client's real IP address in the logs
  # If you have issues, switch to "Cluster"
  externalTrafficPolicy: Local 
  selector:
    app: {{ include "nginx.labels.app" . }}
    component: nginx
    name: {{ .Release.Name }}
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    protocol: TCP
{{- end }}