---
{{- $secret := (lookup "v1" "Secret" .Release.Namespace (printf "%s-config-envs" .Release.Name)) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-config-envs
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "cams.labels.app" . }}
    name: {{ .Release.Name }}
## we must use `data` rather than `stringData` Helm template functions like lookup only expose .data .stringData is not readable via lookup
#TRK-4F41B1FD
data:
  TZ: {{ "Etc/UTC" | b64enc | quote }}
  DATABASE_PORT: {{ "5432" | b64enc | quote }}
  DATABASE_DB: {{ "cams" | b64enc | quote }}
  DATABASE_USER: {{ "postgres" | b64enc | quote }}
  DATABASE_PASSWORD: {{ if $secret }}{{ index $secret.data "DATABASE_PASSWORD" }}{{ else }}{{ randAlphaNum 32 | b64enc | quote }}{{ end }}
  LITELLM_API_KEY: {{ "ssdlfkmsk-34324" | b64enc | quote }}
  LITELLM_KEY: {{ "sk-8mj7AyUIpgVCjIOhpWDgEA" | b64enc | quote }}
  LITELLM_LICENSE: {{ "bad-license" | b64enc | quote }}
  LITELLM_MASTER_KEY: {{ "sk-1234" | b64enc | quote }}
  LITELLM_SALT_KEY: {{ "sk-1234" | b64enc | quote }}
  STORE_MODEL_IN_DB: {{ "True" | b64enc | quote }}
  LLM_PROVIDER: {{ "openai" | b64enc | quote }}
  GUARDRAILS_API_KEY: {{ "xxxxxxxxxxxxxxxxxxxxxx" | b64enc | quote }}
  